In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('01_05_empleados.csv', delimiter=";")

In [3]:
print(df.shape)

(145, 8)

In [4]:
duplicados = df.duplicated()

In [5]:
print(df[duplicados])

    Nombre       Sexo Estado_Civil  Edad  Experiencia  Salario Gerencia  \
10  Selena   Femenino    Casado(a)    24            6     2709       Sí
34   Lucio  Masculino   Soltero(a)    54           12     3317       No

        Departamento
10      Contabilidad
34  Recursos Humanos

- Desafío: Eliminar duplicaciones en el dataframe

In [6]:
df_sin_duplicados = df.drop(df[duplicados].index)
print(df_sin_duplicados.duplicated().sum())
print(df_sin_duplicados.shape)

0
(143, 8)

In [7]:
df_sin_duplicados = df.drop_duplicates()
print(df_sin_duplicados.duplicated().sum())
print(df_sin_duplicados.shape)

0
(143, 8)