In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('01_06_empleados.csv', delimiter=";")

In [4]:
print(df)

        Nombre       Sexo   Estado_Civil  Edad  Experiencia  Salario Gerencia  \
0    Alexandro  Masculino     Soltero(a)  22.0            3     2423       No
1       Felipa   Femenino     Soltero(a)  26.0            5     2639       No
2       Daniel  Masculino      Casado(a)  35.0           10     3122       No
3         John  Masculino      Casado(a)  35.0           13     3431       Sí
4      Ruperta   Femenino      Casado(a)  54.0           18     3962       No
..         ...        ...            ...   ...          ...      ...      ...
186   Hernando  Masculino  Divorciado(a)  29.0            4     2510       No
187       Vito  Masculino  Divorciado(a)  22.0            4     2530       No
188       Jose  Masculino      Casado(a)  30.0            6     2760       No
189    Marcelo  Masculino  Divorciado(a)  44.0           15     3616       No
190    Leandro  Masculino      Casado(a)  37.0           11     3245       No

             Departamento
0              Publicidad
1               Comercial
2               Comercial
3    Servicios al cliente
4                Producto
..                    ...
186                    IT
187              Producto
188  Servicios al cliente
189                    IT
190              Finanzas

[191 rows x 8 columns]

In [5]:
print(df.isnull().sum())

Nombre           0
Sexo             0
Estado_Civil     0
Edad            46
Experiencia      0
Salario          0
Gerencia         0
Departamento     0
dtype: int64

- Desafío: Llenar datos faltantes de la columna edad con la media de edad

In [6]:
# By default, .mean() automatically skips NaN values
edad_media = df['Edad'].mean()
print(edad_media)

33.86896551724138

In [7]:
df.query("Edad.isnull()")

,Nombre,Sexo,Estado_Civil,Edad,Experiencia,Salario,Gerencia,Departamento
13,Andrew,Masculino,Divorciado(a),NaN,10,3194,No,Producto
15,Ema,Femenino,Soltero(a),NaN,15,3635,No,Producto
18,Randy,Masculino,Soltero(a),NaN,24,4529,No,Publicidad
19,Justin,Masculino,Casado(a),NaN,18,3907,No,Servicios al cliente
20,Alexander,Masculino,Soltero(a),NaN,5,2656,No,Legal
25,Carmelita,Femenino,Casado(a),NaN,5,2676,No,Reclutamiento
29,Julie,Femenino,Soltero(a),NaN,6,2709,No,Legal
32,Lisandro,Masculino,Casado(a),NaN,9,3027,Sí,Ventas
33,Eduardo,Masculino,Soltero(a),NaN,10,3128,No,Comercial
34,Mirta,Femenino,Casado(a),NaN,15,3614,No,Servicios al cliente
35,Danilo,Masculino,Soltero(a),NaN,25,4611,No,Contabilidad
39,Abigail,Femenino,Soltero(a),NaN,15,3656,No,Producto
47,Geraldo,Masculino,Divorciado(a),NaN,30,5034,No,Finanzas
56,Evelia,Femenino,Soltero(a),NaN,1,2095,No,Finanzas
57,Marcos,Masculino,Casado(a),NaN,2,2222,No,Publicidad
61,Alfonso,Masculino,Casado(a),NaN,24,4545,No,Servicios al cliente
65,Nilda,Femenino,Casado(a),NaN,27,4889,No,Ventas
70,Debora,Femenino,Casado(a),NaN,1,1929,No,Servicios al cliente
75,Carlos,Masculino,Soltero(a),NaN,8,2919,No,Publicidad
81,Jacobo,Masculino,Soltero(a),NaN,6,2774,No,Legal
96,Luisa,Femenino,Casado(a),NaN,25,4652,No,Recursos Humanos
98,Jose,Masculino,Casado(a),NaN,23,4500,No,Servicios al cliente
109,Paz,Femenino,Soltero(a),NaN,10,3115,No,Publicidad
117,Tomasa,Femenino,Soltero(a),NaN,21,4214,No,Producto
120,Pili,Femenino,Casado(a),NaN,30,5116,Sí,Publicidad
126,Olga,Femenino,Soltero(a),NaN,11,3209,No,Producto
128,James,Masculino,Soltero(a),NaN,13,3433,No,IT
132,Patricio,Masculino,Soltero(a),NaN,3,2492,No,Producto
134,Ana,Femenino,Divorciado(a),NaN,17,3847,No,Producto
135,Petrona,Femenino,Soltero(a),NaN,32,5358,No,Comercial
136,Daniel,Masculino,Casado(a),NaN,9,3059,No,Contabilidad
137,Tyler,Masculino,Soltero(a),NaN,29,5085,No,Finanzas
140,Vilma,Femenino,Casado(a),NaN,2,2209,No,Legal
149,Randall,Masculino,Soltero(a),NaN,11,3300,No,Servicios al cliente
151,Yesica,Femenino,Casado(a),NaN,3,2320,No,Producto
154,Marisol,Femenino,Casado(a),NaN,17,3839,No,Contabilidad
156,Brian,Masculino,Casado(a),NaN,30,5189,No,Comercial
157,Eva,Femenino,Divorciado(a),NaN,16,3797,No,Servicios al cliente
158,Katherine,Femenino,Soltero(a),NaN,24,4516,No,Servicios al cliente
165,Eli,Femenino,Soltero(a),NaN,14,3507,No,IT
171,Isidoro,Masculino,Divorciado(a),NaN,24,4544,No,Legal
176,Duilio,Masculino,Soltero(a),NaN,8,2986,No,Finanzas
178,Irene,Femenino,Casado(a),NaN,2,2169,No,Recursos Humanos
179,Judith,Femenino,Divorciado(a),NaN,16,3769,Sí,Ventas
181,Maite,Femenino,Casado(a),NaN,35,5614,No,IT
185,Amaro,Masculino,Casado(a),NaN,24,4510,No,Comercial

In [8]:
df.loc[df["Edad"].isnull(), "Edad"] = edad_media
print(df.head(10))

      Nombre       Sexo   Estado_Civil  Edad  Experiencia  Salario Gerencia  \
0  Alexandro  Masculino     Soltero(a)  22.0            3     2423       No
1     Felipa   Femenino     Soltero(a)  26.0            5     2639       No
2     Daniel  Masculino      Casado(a)  35.0           10     3122       No
3       John  Masculino      Casado(a)  35.0           13     3431       Sí
4    Ruperta   Femenino      Casado(a)  54.0           18     3962       No
5  Francisca   Femenino     Soltero(a)  27.0            4     2564       No
6     Selena   Femenino      Casado(a)  24.0            6     2709       Sí
7     Ximena   Femenino     Soltero(a)  58.0           24     4532       No
8      David  Masculino  Divorciado(a)  20.0            1     1977       No
9        Max  Masculino  Divorciado(a)  39.0            8     2953       No

           Departamento
0            Publicidad
1             Comercial
2             Comercial
3  Servicios al cliente
4              Producto
5                    IT
6          Contabilidad
7                 Legal
8      Recursos Humanos
9                Ventas

In [9]:
df.query("Edad.isnull()")

Empty DataFrame
Columns: [Nombre, Sexo, Estado_Civil, Edad, Experiencia, Salario, Gerencia, Departamento]
Index: []

In [10]:
# Solución Alternativa
df["Edad"] = df["Edad"].fillna(edad_media)
print(df.head(10))
print(df.isnull().sum())

      Nombre       Sexo   Estado_Civil  Edad  Experiencia  Salario Gerencia  \
0  Alexandro  Masculino     Soltero(a)  22.0            3     2423       No
1     Felipa   Femenino     Soltero(a)  26.0            5     2639       No
2     Daniel  Masculino      Casado(a)  35.0           10     3122       No
3       John  Masculino      Casado(a)  35.0           13     3431       Sí
4    Ruperta   Femenino      Casado(a)  54.0           18     3962       No
5  Francisca   Femenino     Soltero(a)  27.0            4     2564       No
6     Selena   Femenino      Casado(a)  24.0            6     2709       Sí
7     Ximena   Femenino     Soltero(a)  58.0           24     4532       No
8      David  Masculino  Divorciado(a)  20.0            1     1977       No
9        Max  Masculino  Divorciado(a)  39.0            8     2953       No

           Departamento
0            Publicidad
1             Comercial
2             Comercial
3  Servicios al cliente
4              Producto
5                    IT
6          Contabilidad
7                 Legal
8      Recursos Humanos
9                Ventas
Nombre          0
Sexo            0
Estado_Civil    0
Edad            0
Experiencia     0
Salario         0
Gerencia        0
Departamento    0
dtype: int64