In [1]:
! pip install pandas

Requirement already satisfied: pandas in /home/bruno-bianchi/Documents/Workspace/Python/Desafíos/desafio-programacion-python-ciencia-datos-3080127/.venv/lib/python3.12/site-packages (2.3.3)
Requirement already satisfied: numpy>=1.26.0 in /home/bruno-bianchi/Documents/Workspace/Python/Desafíos/desafio-programacion-python-ciencia-datos-3080127/.venv/lib/python3.12/site-packages (from pandas) (2.3.5)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/bruno-bianchi/Documents/Workspace/Python/Desafíos/desafio-programacion-python-ciencia-datos-3080127/.venv/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/bruno-bianchi/Documents/Workspace/Python/Desafíos/desafio-programacion-python-ciencia-datos-3080127/.venv/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /home/bruno-bianchi/Documents/Workspace/Python/Desafíos/desafio-programacion-python-ciencia-datos-3080127/.venv/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /home/bruno-bianchi/Documents/Workspace/Python/Desafíos/desafio-programacion-python-ciencia-datos-3080127/.venv/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('01_01_empleados.csv', delimiter=";")

- Desafío: Hay columnas en nuestro dataframe que tienen valores NaN o None. Tu Tarea es calcular el número de valores faltantes para cada columna

In [4]:
df

,Nombre,Apellido,Sexo,Estado_Civil,Edad,Experiencia,Salario,Gerencia,Departamento
0,Alexandro,NaN,Masculino,Soltero(a),22.0,3.0,2423.0,No,Publicidad
1,Carlos,NaN,Masculino,Casado(a),38.0,10.0,3132.0,Sí,NaN
2,Felipa,NaN,Femenino,Soltero(a),26.0,5.0,2639.0,No,Comercial
3,Daniel,NaN,Masculino,Casado(a),35.0,10.0,3122.0,No,Comercial
4,John,NaN,Masculino,Casado(a),35.0,13.0,3431.0,Sí,Servicios al cliente
...,...,...,...,...,...,...,...,...,...
246,Jose,NaN,Masculino,Casado(a),30.0,6.0,2760.0,No,Servicios al cliente
247,Marcelo,NaN,Masculino,Divorciado(a),44.0,15.0,3616.0,No,IT
248,Eric,NaN,NaN,Casado(a),25.0,7.0,2880.0,Sí,Recursos Humanos
249,Marc,NaN,NaN,Casado(a),24.0,2.0,2172.0,No,Producto
250,Leandro,NaN,Masculino,Casado(a),37.0,11.0,3245.0,No,Finanzas

In [5]:
null_counts = df.isnull().sum()
print("Null count per column:")
print(null_counts)

Null count per column:
Nombre            6
Apellido        251
Sexo             37
Estado_Civil      4
Edad             61
Experiencia       4
Salario           6
Gerencia         21
Departamento     12
dtype: int64